@model HXSail.Models.Province

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Province</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaxCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaxCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaxRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaxRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Capital)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Capital)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IncludesFerderalTax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IncludesFerderalTax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountryCodeNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountryCodeNavigation.CountryCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProvinceCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
