@model IEnumerable<HXSail.Models.Parking>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActualBoatId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoatType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActualBoatId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoatType.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ParkingCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ParkingCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ParkingCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
